@import url('header.css');
@import url('hero.css');
@import url('ticker.css');
@import url('advertisement.css');
@import url('stages.css');
@import url('participants.css');

@font-face {
    font-family: GolosText;
    src: url(/fonts/GolosText-VariableFont_wght.ttf);
}

@font-face {
    font-family: MerriRegular;
    src: url(/fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: MerriBold;
    src: url(/fonts/Merriweather-Bold.ttf);
}



:root {
    --text-black: #313131;
    --text-semi-black: #595653;
    --text-red: #F54932;
    --text-blue: #3057A2;
    --text-white: #FFFFFF;
    --button-black: #1F1F1F;
    --button-white: rgba(255, 255, 255, 0.9);
    --button-yellow: #FBCE51;
    --button-text-black: #1F1F1F;
    --button-text-white: #FFFFFF;
    --button-blue: #3057A2;
    --bg-beige: #E9DED4;
    --bg-white: #fffff;
    --border-gray: #D0D0D0;
    --slider-black: #313131;
    --slider-gray: #D9D9D9;

}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'GolosText', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    transition: all 300ms ease;
}

body {
    display: flex;
    flex-direction: column;
    /* background-color: var(--bg-beige); */
    overflow-x: hidden;
    /*  */
}

@media screen and (width>767px) {
    body {
        align-items: center;
    }
}

.main {
    overflow-x: hidden;



    & .wrap {
        background-color: var(--bg-beige);
    }

    @media screen and (width>767px) {
        max-width: 1366px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .container {
            padding-inline: 72px;
        }

    }
}

.controls {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 36px;
        min-width: 36px;
        border-radius: 100%;
        background-color: var(--slider-black);
        cursor: pointer;

        .disabled {
            background-color: var(--slider-gray);
        }

        &:hover {}
    }

    .arrow.right {}

    .arrow.left {
        transform: rotate(180deg);
    }

    .dots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;

        .dot {
            cursor: pointer;
            min-height: 10px;
            min-width: 10px;
            border-radius: 100%;
            background-color: var(--slider-gray);
            color: var(--text-white);
            transition: background-color 300ms linear;

            &.active {
                background-color: var(--slider-black);
            }
        }

    }

    .counts {
        font-size: 16px;
        font-family: 'GolosText', sans-serif;
        font-weight: 400;
        line-height: 1.2;

        span {
            opacity: 0.6;
        }
    }
}



footer {
    background-color: var(--bg-beige);
    padding-inline: 20px;
    padding-top: 21.5px;
    font-size: 16px;
    font-family: 'GolosText', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.6;
}

@media screen and (width>768px) {
    .main {
        .participants {
            & .slider-wrapper {
                & .slider {
                    grid-auto-columns: 50%;
                }
            }
        }
    }
}

@media screen and (width>1100px) {
    .main {
        .participants {
            & .slider-wrapper {
                & .slider {
                    grid-auto-columns: 33.33%;
                }
            }
        }
    }
}